@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');

@import 'tailwindcss';

@theme {
  --font-display: "Oswald", sans-serif;
  --font-paragraph: "Quattrocento", serif;
}

.active {
  background-color: #e5a3a3;
  border-color: #ecc9c9;
}

select,input,textarea{
  border: 1px solid #ecc9c9;
  outline-color: #e5a3a3;
  border-radius: 4px;
}